@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

/* styles for body of html */
body {
    font-family: Source Sans Pro;
    margin: auto;
    background-color: #eee;
}

/*styles for container of main content*/
.newspaper-container {
    width: 900px;
    margin:auto;
    margin-top: 2em;
    border-radius: 20px;
    border: 2px solid #ddd;
    background-color: white;
    box-shadow: #ddd;
    padding: 4em
}

/*header styles*/
h1 {
    font-family: Abril Fatface;
    text-align: center;
    font-size: 50px;
}
h2, h4 {
    font-family: Roboto Slab;
}
h2 {
    margin-bottom: 5px;
    margin-top: 3%;


}
h5 {
    color: #dd3232;
    font-family: Abril Fatface;
    padding-bottom: 1em;
    margin-top: 0%;
    margin-bottom: 1%;
}

/*nav bar styles*/
nav {
    position: sticky;
    top: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: white;
}
li {
    display: inline;
    text-align: center;
    padding:15px;
}
a {
    text-decoration: none;
    color: #777
}

/*main article image styles*/
.center {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 100%
}

.more-articles section{
    display: inline-block;
    margin-left: 2.5%;
    width: 45%;
}
.more-articles {
    border-top: 2px solid #eee
}

section img {
    width: 100%;
}